[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StructuralDecompose"]
	path = StructuralDecompose
	url = https://github.com/allen-1242/structuraldecompose
[submodule "TangledFeatures"]
	path = TangledFeatures
	url = https://github.com/allen-1242/tangledfeatures
